$size: 90px;

#main {
    #status-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        div {
            padding: 0 5px;
        }
    }
    #game-board {
        height: $size * 4;
        width: $size * 4;
        background-image: url('./static/img/board.png');
        background-size: contain;
        
        #pieces-list {
            display: block;
            position: relative;
            line-height: 1;
            margin: 0;

            .single-piece {
                position: absolute;
                font-weight: 900;
                font-size: 1.5em;
            }

            @for $i from 0 through 4 {
                $shift: $i * $size - 10px;
                .single-piece.loc-x-#{$i} {
                    left: $shift;
                }
                .single-piece.loc-y-#{$i} {
                    top: $shift;
                }
            }
        }
    }
}